@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800');

.slideContainer {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  position: relative;
  height: 25%;
}

.slideContainer h1{
  color: #fff;
  font-size: 40px;
  margin-bottom: 15px;
  max-width: 600px;
  text-align: center;
  font-weight: 600;
  margin: 1.5em auto 0.5em auto;
}

.slideContainer h2{
  color: #fff;
  padding-top: .25em;
  padding-bottom: .25em;
  font-size: 17px;
  line-height: 28px;
  max-width: 500px;
  font-weight: 400;
  margin:0 auto;
}

.slideContainer button{
  margin-top: 25px;
  padding: 12px 16px;
  color: #fff;
  background: rgba(0,0,0,0.4);
  font-size: 18px;
  display: inline-block;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 8em;
  transition: background 0.3s;
  cursor: pointer;
  border: 0;
}


.slideContainer button:hover {
  background: rgba(0,0,0,0.6);
}